{{> head}}
{{> navbar}}

  <!--/ Intro Skew Star /-->
  <div class="intro intro-single route bg-image" style="background-image: url(../img/overlay-bg.jpg)">
    <div class="overlay-mf"></div>
    <div class="intro-content display-table">
      <div class="table-cell">
        <div class="container">
          <h2 class="intro-title mb-4">Tips</h2>
        </div>
      </div>
    </div>
  </div>
  <!--/ Intro Skew End /-->

  <!--/ Section Blog-Single Star /-->
  <section class="blog-wrapper sect-pt4" id="blog">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="post-box">
            <div class="post-thumb">
              <img src="../img/web que encanta.png" class="img-fluid" alt="">
            </div>
            <div class="post-meta">
              <h1 class="article-title">Web que atrae</h1>
              <ul>
                <li>
                  <span class="ion-ios-person"></span>
                  <a href="#">Daniel Marin Liendo</a>
                </li>
              </ul>
            </div>
            <div class="article-content">
              <p>
                Una web con elementos en movimientos como videos o gif, será más atractiva para los espectadores. 
Las personas estamos acostumbradas a ver imágenes, objetos u otros elementos que generen movimiento. 
También, las curvas son muy atractiva para la vista humana. Así que si piensas hacer tu web, es mejor que desarrolles botones y cuadros un poco circulares.
              </p>
            </div>
          </div>     
          <div class="post-box">
            <div class="post-thumb">
              <img src="../img/el-cambio-al-movil.png" class="img-fluid" alt="">
            </div>
            <div class="post-meta">
              <h1 class="article-title">El cambio al móvil</h1>
              <ul>
                <li>
                  <span class="ion-ios-person"></span>
                  <a href="#">Daniel Marin Liendo</a>
                </li>
              </ul>
            </div>
            <div class="article-content">
              <p>
                Cada año el mundo cambia y las decisiones de una persona también. Si deseas crear un proyecto actualmente y para el futuro, recuerda que este también debe estar accesible para los móviles. Las personas ya están en plena mudanza, de una pc; a ese aparato pequeño que usas para comunicarte casi las 24 horas con tu familia, amistades y equipo de trabajo.
              </p>
            </div>
          </div>      
          <div class="post-box">
            <div class="post-thumb">
              <img src="../img/estrategias-digitales.png" class="img-fluid" alt="">
            </div>
            <div class="post-meta">
              <h1 class="article-title">Estrategias digitales</h1>
              <ul>
                <li>
                  <span class="ion-ios-person"></span>
                  <a href="#">Daniel Marin Liendo</a>
                </li>
              </ul>
            </div>
            <div class="article-content">
              <p>
                Actualmente, ya no funcionan las estrategias tradicionales, una buena estrategia digital; te ayudara a posicionar tu empresa y marca, en el mercado. Las personas y la nueva generación, ahora cada vez más confían en una marca que ven por internet o por las redes sociales, que más usan.
              </p>
            </div>
          </div>      
        </div>
        <div class="col-md-4">
          <div class="widget-sidebar sidebar-search">
            <h5 class="sidebar-title">Buscar</h5>
            <div class="sidebar-content">
              <form>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Buscar..." aria-label="Search for...">
                  <span class="input-group-btn">
                    <button class="btn btn-secondary btn-search" type="button">
                      <span class="ion-android-search"></span>
                    </button>
                  </span>
                </div>
              </form>
            </div>
          </div>
          <div class="widget-sidebar">
            <h5 class="sidebar-title">Posts recientes</h5>
            <div class="sidebar-content">
              <ul class="list-sidebar">
                <li>
                  <a href="#">Web que atrae.</a>
                </li>
                <li>
                  <a href="#">El cambio al móvil</a>
                </li>
                <li>
                  <a href="#">Estrategias digitales.</a>
                </li>
                </li>
              </ul>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ Section Blog-Single End /-->

  <!--/ Section Contact-Footer Star /-->
  <section class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url(img/overlay-bg.jpg)">
    <div class="overlay-mf"></div>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="copyright-box">
                <p class="copyright">&copy; Copyright <strong>Root</strong>. All Rights Reserved</p>
                <div class="credits">
                  <!--
                    All the links in the footer should remain intact.
                    You can delete the links only if you purchased the pro version.
                    Licensing information: https://bootstrapmade.com/license/
                    Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=DevFolio
                  -->
                  Designed by DM en base a <a href="https://bootstrapmade.com/">BootstrapMade</a>
                </div>
              </div>
          </div>
        </div>
      </div>
    </footer>
  </section>
  <!--/ Section Contact-footer End /-->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <div id="preloader"></div>

  {{> footerend}}