<!DOCTYPE html>
<html dir="ltr" prefix="og: http://ogp.me/ns#" lang="es">
<html class="no-js">

<head>
  <meta charset="utf-8">
  <title>root | Home | Software Services </title>
  <link rel="preload" href="css/style.css" as="style">
  <meta property="og:title" content="root | Software Services">
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://root-code.cf/index.html">
  <meta property="og:image" content="http://root-code.cf/imgs/logo-azul.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="canonical" href="http://root-code.cf/index.html">
  <meta name="theme-color" content="#06A2E1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="title" content="root | Home | Software Services ">
  <meta name="description" content="Descubre los mejores servicios tecnologicos que podemos ofrecerte">
  <meta name="keywords" content="software, service, optimization, optimizar, code, startup, latinoamericana">
  <meta name="robots" content="index, follow">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="language" content="Spanish">
  <meta name="revisit-after" content="45 days">
  <meta name="author" content="Israel Laguan">
  <link rel="shortcut icon" href="img/favicon.ico">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">
  <link href="css/chatbot.css" rel="stylesheet">

  <link rel="stylesheet" href="css/normalize.css" media="screen">
  <link href="css/css.css" rel="stylesheet">
  <link rel="stylesheet" href="css/simplemde.css">
  <link rel="stylesheet" href="css/stylesheet.css" media="screen">


</head>

<body id="page-top">